.WInput {
    position: relative;
    height: 20px;
    font-size: 14px;
    .WInput_input{
        position: relative;
    }

    &.required{
        .WInput_input{
            &::after{
                content:'\e7a3';
                padding-left:4px;
                color:red;
            }
        }
    }
    input {
        line-height: 20px;
        padding-left: 20px;
    }

    span.WInput_prefix {
        position: absolute;
        font-family: "font-icon";
        top: 5px;
        left: 4px;
        i::before {
            content: "\e6e3";
        }
    }

}
